<% include ../partials/boilerplate %>
<div id = 'form-log'>
<form method = 'POST' action = '/auth/login' id='edit-form'>
  <input name = 'username' type = 'text' placeholder = 'Username' id = 'user' />
  <input name = 'password' type = 'password' placeholder = 'Password' id = 'pass' />
  <input type = 'submit' value='Log in!' id = 'log' />
</form>
</div>
<% include ../partials/end %>