<% include ../partials/boilerplate %>

<form method='POST' action='/auth/register' id = 'register'>
  <input name='username' type='text' placeholder='Username' id ='in'/>
  <input name='first_name' type='text' placeholder='First name' id ='in'/>
  <input name='last_name' type='text' placeholder='Last name' id ='in'/>
  <input name='email' type='email' placeholder='Email' id ='in'/>
  <input name='password' type='password' placeholder='Password' id ='in'/>
  <input type='submit' value='Register!' id = 'reg'/>
</form>

<% include ../partials/end %>