<% include ../partials/boilerplate.ejs %>
<h2 id= 'name'>TRAVEL</h2>

<h2 id = 'select'>SELECT CITY</h2>
<div id = 'list'>
<select id = 'city-list'>
<option placeholder = '--SELECT CITY--' id = 'selHolder'></option>
  <% cityData.forEach(function(cities) { %>
      <option>
      <%= cities.city %>
      </option>
   
 <% }) %>
</select>
</div>
<script src = '/static/js/main.js'></script>
<script src = '/static/js/info.js'></script>
<% include ../partials/end.ejs %>