<% include ./partials/boilerplate.ejs %>
<h2 id= 'name'>TRAVEL</h2>
<nav class = 'tabs'>
  <a href='/auth/register' class = 'auth'>SIGN UP!</a>
  <a href='/auth/login' class ='auth'>LOG IN!</a>
  <a href='/auth/logout' class = 'auth'>LOG OUT!</a>
</nav>

<div id = 'list'>
<select id = 'state-list'>
<option value= '' disabled selected>--SELECT STATE--</option> 

  <% stateData.forEach(function(states) { %>
  
  <option>
  <%= states.state %>
  </option>  
 <% }) %>
</select>

</div>
<script src = '/static/js/state.js'></script>
<script src = '/static/js/main.js'></script>
<% include ./partials/end.ejs %>