<% include ./partials/boilerplate.ejs %>


<h2 id= 'name'>TRAVEL</h2>

<nav class = 'tabs'>
  <a href='/auth/register' class = 'auth'>SIGN UP!</a>
  <a href='/auth/login' class ='auth'>Log in!!</a>
  <a href='/auth/logout' class = 'auth'>Say Bye! And Log out!</a>
</nav>
<div id = 'list'>
<select id = 'state-list'>
<h5>SELECT STATE</h5>
  <% stateData.forEach(function(states) { %>
  <option>
  <%= states.state %>
  </option>
  
 <% }) %>
</select>

<select id = 'city-list'>
<h5>SELECT CITY</h5>
  <% cityData.forEach(function(cities) { %>
  
  <option>
  <%= cities.city %>
  </option>

 <% }) %>
</select>
</div>
<script src="/static/js/main.js"></script>
<% include ./partials/end.ejs %>