body {
  background: url('../images/nyc.jpg');
  background-size: cover;
}

a#home {
  font-size: 24px;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
  font-family: 'Bungee Inline', cursive;
}

h2#name {
  font-size: 50px;
  color: rgba(135, 3, 255, 1);
  text-align: center;
  padding: 40px;
  font-family: 'Bungee Inline', cursive;
}


h2#name::after{
 content: 'X';
 color:yellow;
}

nav.tabs {
  font-size: 30px;
  /*height: 35px;*/
}

a.auth {
  color: black;
  text-decoration-line: none;
  padding: 5px;
  display: inline-block;
  margin-left: 185px;
  justify-content: space-around;
  border: 3px solid black;
  border-radius: 60px;
  background-color: rgba(76, 216, 229, 0.5);
}

div#list {
  display: flex;
  justify-content: space-around;
}

h2#select {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 30px;
  font-family: 'Bungee Inline', cursive;
}

select#state-list {
  height: 40px;
  width: 20%;
  margin: 30px;
  font-size: 20px;
  color: darkblue;
}

select#city-list {
  height: 40px;
  width: 20%;
  margin: 30px;
  font-size: 20px;
  color: darkblue;
}


/******LOGIN*****/

div#form-log {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

input#user {
  height: 20px;
  width: 140px;
}

input#pass {
  height: 20px;
  width: 140px;
  margin: 0 40px;
}

input#log {
  height: 30px;
  width: 110px;
}

form#register {
  text-align: center;
  margin-top: 25%;
}

/********INFO*****/

div.container {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  padding-top: 0px;
}

div.food-info {
  margin-top: 50px;
  position: absolute;
  height: 460px;
  width: 450px;
  border: 7px solid black;
  border-radius: 30px;
  overflow: scroll;
  background: rgba(124, 78, 57, 0.5);
}

div.att-info {
  margin-top: 50px;
  margin-left: 50%;
  position: absolute;
  height: 460px;
  width: 450px;
  border: 7px solid black;
  border-radius: 30px;
  overflow: scroll;
  background: rgba(124, 78, 57, 0.5);
}
 
h1#rest {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  margin-left: 100px;
  height: 30px;
  /*border: 2px solid black;*/
  /*border-radius: 30px;*/
  background: rgba(238, 238, 238,0.5);
  font-family: 'Bungee Inline', cursive;
}

h1#rest:hover {
  background: rgba(255, 185, 44,0.5)
}

input#del {
  font-size: 12px;
  color: white;
  height: 25px;
  width: 70px;
  background: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  cursor: pointer;
}

input#del:hover {
  color: red;
}


a#edit {
  text-decoration-line: none;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

a#edit:hover {
  color: red;
}

p {
  font-size: 22px;
  color: black;
  font-weight: bolder;
  line-height: 35px;
  background: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  /*z-index: 100;*/
 
}

p:hover{
  background: rgba(239, 881, 411,0.5);
  z-index: 100;
  transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;

}




/********EDIT PAGE******/
input#info-edit {
  height: 100px;
  width: 400px;
  font-size: 14px;
  margin: 20px;
  overflow: scroll;
  border-radius: 20px;
}

form#edit-container {
  display: flex;
  justify-content: center;
  /*margin-top: 18%;*/
}

input#button-edit {
  height: 30px;
  width: 100px;
  font-size: 20px;
  background: black;
  border: 1px dotted black;
  color: white;
  margin-top: 55px;
  cursor: pointer;
  border-radius: 15px;
}

h4#edit-page {
  font-size: 28px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin-left: 15%;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}

h4#edit-pagePlaces {
  font-size: 28px;
  color: black;
  font-weight: bold;
  margin-left: 25%;
  margin-top: -30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}

h3#info-heading {
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-top: 30px;

}

div.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background: rgba(99, 200, 196, 0.5);
  text-align: center;
  font-size: 30px;
  left: 0;
  line-height: 60px;
}

p#foot:hover {
  color: blue;
}

option#selHolder {
  color: black;
}